body {
    padding-left: 25px;
    padding-top: 10px;

    background: #fcfcfc;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 14px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}